@use '../abstracts/variables' as vars;

:root {
  --espacement-p:   #{map-get(vars.$espacements, 'p')};//petit
  --espacement-m:   #{map-get(vars.$espacements, 'm')};//moyen
  --espacement-g:   #{map-get(vars.$espacements, 'g')}; //grand
  --espacement-tg:  #{map-get(vars.$espacements, 'tg')};
  --espacement-max: #{map-get(vars.$espacements, 'max')};//espacement max

  --rayon-p: #{map-get(vars.$rayons, 'p')};//petit rayon
  --rayon-m: #{map-get(vars.$rayons, 'm')};//grand rayon
}

