.page-composants {
  background-color: var(--couleur-fond-alterne);
  color: var(--couleur-texte-principal);
  padding: var(--espacement-tg);

  &__conteneur {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__en-tete {
    margin-bottom: var(--espacement-tg);
  }

  &__titre {
    font-size: var(--taille-police-titre);
    margin-bottom: var(--espacement-p);
  }

  &__description {
    font-size: var(--taille-police-introduction);
    color: var(--couleur-texte-secondaire);
  }
}